html {
    background-color: #555555;
}
.board-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.square {
    width: 250px;
    height: 250px;
    background-color: #222;
    border-radius: 10px;
    font-size: 32px;
    color: white;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 45px;
    letter-spacing: 4px;
}
.status {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

footer {
    color: #fff;
    font-size: 16px;
    text-align: center;
}
footer a {
    color: white;
    line-height: 0%;
}